
body {
    padding-top: 50px;
    margin: 0;
    background: linear-gradient(112.1deg, rgb(227, 24, 55) 11.4%, rgb(0, 76, 84) 70.2%);

}
h3{
    width: 149px;
    height: 36px;
    left: 85px;
    top: 68px;

    font-family: 'Verdana', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    /* identical to box height, or 90% */

    text-align: center;
    color: #C83803;
}
.eagles1{
    color: #ffffff;
}
.chiefs1{
    color: #FFB81C;
}

.container {
    display: flex;
    justify-content: space-evenly;
    width: 55%;
    margin: auto;
    background-image: url("superbowl2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.7;
    border-radius: 70px 70px 70px 70px;
    box-shadow: -5px -5px 30px 5px white, 5px 5px 30px 5px grey;
overflow: hidden;
}

.chiefs{

    width: auto;
    padding-left: 180px;
    padding-right: 20px;
}
.eagles{
    /*border: 2px solid grey;*/
    width: auto;
    padding-right: 180px;
    padding-left: 20px;
}

.block{

    width: 155px;
    height: 120px;
    left: 82px;
    top: 125px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: rgba(255,255,255,0.2);
    border: white solid;

    font-family: 'Cursed Timer ULiL', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 95px;
    line-height: 127px;
    /* or 141% */

    text-align: center;

    color: white;
}

.reset-container{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 26px;
    padding-right: 10px;
    padding-left: 10px;
}
.reset{
    width: auto;
    height: 45px;
    margin-top: 262px;

}
button{
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;

    border: 2px solid #ffffff;
    color: white;
    margin-top: 26px;
    margin-left: 3px;
    width: 45px;
    height: 45px;
    left: 82px;
    top: 271px;
    background-color: rgba(0,0,0,0.7);
    transition: background-color 0.5s ease;
}
.btnChief:hover{
    background-color: #FFB81C;
    color: #E31837;
    transition: all 0.5s ease;
}
.btnEagle:hover{
    background-color: #004C54;
    color: white;
    transition: all 0.5s ease;
}
button:hover{
    background-color: #673447;
    transition: all 0.5s ease;
}
#td-1,#td-2{
    color: black;
    font-size: 18px;
    font-weight: bold;
    padding-top: 8px;
    padding-left: 25px;
    transition: opacity 0.5s ease;
    opacity: 1;
}

